.MusicSearchCard {
  background-color: rgba(105, 105, 105, 0.11);
  width: 160px;
  height: fit-content;
  padding: 10px 10px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 4px;
  cursor: pointer;
}

.MusicSearchCard:hover {
  background-color: rgba(105, 105, 105, 0.06);
}

.MusicSearchCard__position-left {
  align-self: flex-start;
}

.MusicSearchCard__position-right {
  align-self: flex-end;
}

.MusicSearchCard__song-icon {
  align-self: center;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: rgba(0, 255, 255, 0.055);
  overflow: hidden;
}

.MusicSearchCard__album-img {
  width: 100%;
  height: 100%;
}

.MusicSearchCard__song-name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
  white-space: nowrap;
  width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000bb;
}

.MusicSearchCard__artist-name {
  font-size: 12px;
  font-weight: 500;
  width: 110px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000000a9;
}
