.ChatInputField {
  position: sticky;
  height: fit-content;
  width: 100%;
  bottom: 0px;
  border-top: 1.9px solid rgb(234, 237, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: rgb(255, 255, 255);
}

.ChatInputField__textarea {
  width: 95%;
  height: 60px;
  border: 1px solid rgba(128, 128, 128, 0.247);
  padding: 9px 10px 0;
  border-radius: 6px;
  resize: none;
  margin-top: 10px;
}

.ChatInputField__textarea_style-music {
  height: 30px;
  border-radius: 0px 0px 5px 5px;
}

.ChatInputField__textarea:focus {
  outline: 1px solid rgb(217, 153, 27);
}

.ChatInputField__textarea_style-music:focus,
.ChatInputField__img-preview:focus,
.ChatInputField__image-input:focus {
  outline: none;
}

.ChatInputField__img-preview {
  width: 95%;
  height: auto;
  border: 1px solid rgba(128, 128, 128, 0.247);
  padding: 9px 10px 0;
  border-radius: 6px 6px 0px 0px;
  resize: none;
  margin-top: 10px;
  border-bottom: none;
  display: flex;
  align-items: center;
  position: relative;
  bottom: -22px;
  background-color: white;
}

.ChatInputField__img-preview_display-none {
  display: none;
}

.ChatInputField__img {
  width: 180px;
  height: 180px;
  border-radius: 10px;
}

.ChatInputField__menu {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin-bottom: 10px;
}

.ChatInputField__file-btn {
  border-radius: 100px;
  padding: 6px 6px;
  color: rgb(217, 153, 27);
  font-weight: 700;
  background-color: white;
  border: 2px solid rgba(212, 212, 212, 0.568);
  cursor: pointer;
  font-size: 19px;
  margin-right: 10px;
}

.ChatInputField__file-btn:hover {
  color: rgba(217, 154, 27, 0.692);
}

.ChatInputField__send-btn {
  background-color: rgb(217, 153, 27);
  width: 90px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.ChatInputField__send-btn:disabled {
  background-color: rgba(185, 185, 185, 0.308);
  color: grey;
}

.ChatInputField__url-container {
  width: 97%;
  position: relative;
  margin: 0;
  display: flex;
  padding: 0px 10px 0;
}

.ChatInputField__image-input {
  display: block;
  width: 100%;
  height: 30px;
  border: 1px solid rgba(128, 128, 128, 0.247);
  padding: 2px 10px;
  border-radius: 6px;
}

.ChatInputField__url-container_display-none {
  display: none;
}

.ChatInputField__close-btn {
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.658);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/src/assets/circle-xmark-solid.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  margin-top: 5px;
  position: absolute;
  right: 3%;
  top: 5px;
}
