.FriendsSmallCard {
  background-color: rgba(239, 240, 240, 0.13);
  border: 1px solid rgba(128, 128, 128, 0.199);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 16px 12px;
  border-radius: 12px;
  justify-content: space-between;
  width: fit-content;
  cursor: pointer;
}

.FriendsSmallCard__user-info {
  display: flex;
}

.FriendsSmallCard__profile-icon {
  align-self: center;
  background-image: url("/src/assets/placehoder-profile.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  margin-right: 10px;
}

.FriendsSmallCard__name-container {
  overflow: hidden;
  white-space: nowrap;
}

.FriendsSmallCard__name {
  font-size: 16px;
  margin-bottom: 4px;
  margin-top: 8px;
  font-weight: 500;
  display: flex;
  gap: 30px;
}

.FriendsSmallCard__Friendship {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.705);
  font-weight: 500;
}

.FriendsSmallCard__frnd-message-btn {
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(217, 153, 27);
  width: 80px;
  height: 25px;
  margin-left: 1.5px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(217, 153, 27);
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
}
