.ChatPreview {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.9px solid rgb(234, 237, 236);
    cursor: pointer;
    padding: 8px 20px 0px;
    color: rgb(104, 104, 104);
}

.ChatPreview:hover {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(234, 237, 236);
    cursor: pointer;
    background-color: rgba(217, 154, 27, 0.158);
}

.ChatPreview__receiver {
    display: flex;
    gap: 10px;
    padding-bottom: 8px;
}

.ChatPreview__receiver-icon {
    align-self: center;
    background-image: url("/src/assets/pexels-minan1398-1165641.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

.ChatPreview__Receiver-name {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 3px;
}

.ChatPreview__Receiver-text {
    font-size: 12px;
}

.ChatPreview__time {
    font-size: 13px;
    color: rgb(146, 145, 145);
    font-weight: 600;
}