.ChatCard {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 14px 20px;
  border-radius: 18px;
  display: flex;
  gap: 10px;
  margin-bottom: 4px;
  max-width: 42%;
  cursor: pointer;
}

.ChatCard__position-right {
  align-self: flex-end;
  background-color: rgb(38, 134, 243);
  color: white;
}

.ChatCard__position-left {
  align-self: flex-start;
  background-color: rgba(226, 226, 226, 0.425);
}

.ChatCard__text {
  font-size: 16px;
  font-weight: 500;
}
