.ImageCard {
  width: 180px;
  height: fit-content;
  cursor: pointer;
}

.ImageCard__image {
  width: 100%;
  height: fit-content;
  border-radius: 10px;
}

.ImageCard__position-left {
  align-self: flex-start;
}

.ImageCard__position-right {
  align-self: flex-end;
}