.ImageCard {
  background-image: url("/src/assets/Espresso_-_Sabrina_Carpenter.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 180px;
  height: 180px;
  border-radius: 10px;
  cursor: pointer;
}

.ImageCard__position-left {
  align-self: flex-start;
}

.ImageCard__position-right {
  align-self: flex-end;
}
